@use "/styles/scss" as v;

.itp-c-eye-candy-container {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: -2 / -1;
  grid-row: 1 / 10;

  svg {
    fill: v.$itp-color--dark;
    overflow: visible;
    display: flex;
    justify-content: center;
  }
}
