@use "/styles/scss" as *;

$color--primary: $itp-color--dark;
$color--secondary: $itp-color--accent;
$color--negative: $itp-color--light;

$font-size--header: $itp-font-size--display--s;
$font-size--content: $itp-font-size--m;
$font-size--footer: $itp-font-size--l;

$font-family--header: $itp-font-family--title--bold;
$font-family--content: $itp-font-family--content;

.itp-c-card {
  background-color: $color--primary;
  color: $color--negative;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 2rem 2rem 1rem;
}
.itp-c-card--default {
  margin-top: 0.75rem;
}

.itp-c-card--default::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  left: -1px;
  top: -1px;
  border: 1px solid $itp-color--light;
  pointer-events: none;
}

.itp-c-card--default::before {
  content: "";
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  left: -0.75rem;
  top: -0.75rem;
  border: 1px solid $itp-color--dark;
  pointer-events: none;
}

.itp-c-card__title {
  font-family: $font-family--header;
  font-size: $font-size--header;
  letter-spacing: 0.1em;

  text-transform: uppercase;
}

.itp-c-card__content {
  @include itp-text--paragraph;
}

.itp-c-card__footer {
  margin-top: auto;
  justify-self: flex-end;

  display: flex;
  gap: $itp-spacing--s;

  @include for-size(tablet-lg) {
    flex-direction: column;
  }
}
