@use "/styles/scss" as *;

.itp-c-banner_container {
  width: calc(100% + 2 * $itp-spacing--l);
  position: relative;

  display: flex;
  flex-direction: column;

  .itp-c-banner_label {
    overflow: hidden;
    display: flex;
    gap: 1em;

    font-family: $itp-font-family--display;
    font-size: $itp-font-size--l;
    font-weight: 800;
    text-wrap: nowrap;
  }

  .itp-c-banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0rem;

    height: 0.5rem;
    width: 100%;
    background-color: $itp-color--dark;

    transform: translateY(-6px);
  }

  .itp-c-banner {
    padding: $itp-spacing--m;
    background-color: $itp-color--dark;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &_text {
      font-family: $itp-font-family--title--bold;
      font-size: $itp-font-size--display--m;
      color: $itp-color--light;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }

    &_text--right {
      text-align: end;
    }
  }

  @include for-size(tablet-lg) {
    width: calc(100% + 2 * $itp-spacing--m);

    .itp-c-banner {
      padding: $itp-spacing--m;
    }

    .itp-c-banner_text {
      font-size: $itp-font-size--l !important;
      letter-spacing: 0.75rem;
    }
  }

  @include for-size(phone) {
    width: calc(100% + 2 * $itp-spacing--s);

    .itp-c-banner {
      padding: $itp-spacing--s;
    }

    .itp-c-banner_text {
      font-size: $itp-font-size--m !important;
      letter-spacing: 0.5rem;
    }
  }

  @include for-size(phone-sm) {
    .itp-c-banner_text {
      font-size: $itp-font-size--m !important;
      letter-spacing: 0.25rem;
    }
  }
}
