@use "/styles/scss" as *;

.itp-business_section--for_business {
  @include itp-section_padding;

  background-color: $itp-color--light;
  display: flex;
  align-items: center;
  flex-direction: column;

  color: $itp-color--dark;

  .itp-c-for_business__about {
    display: flex;
    gap: $itp-spacing--xl;
    justify-content: space-between;
    max-width: 1200px;

    &__stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $itp-spacing--m;

      text-transform: uppercase;
      letter-spacing: 0.1em;

      h1 {
        font-family: $itp-font-family--title--thin;
        font-size: $itp-font-size--display--l;
      }

      label {
        font-family: $itp-font-family--title--thin;
        font-size: $itp-font-size--l;
      }
    }

    &__why_us {
      max-width: 800px;
    }
  }

  .itp-c-benefits {
    position: relative;
    display: grid;
    width: 100%;
    max-width: 1200px;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 2rem;

    margin-top: 3rem;
    padding: $itp-spacing--l;
    @include itp-border--dark;

    font-family: $itp-font-family--content;
    font-size: $itp-font-size--m;

    &__bullet_point {
      grid-column: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__bullet_point::after {
      content: "";
      width: 1rem;
      height: 1rem;

      background-color: $itp-color--light;
      @include itp-border--dark;

      z-index: 2;
    }

    &__entry {
      display: flex;
      align-items: center;
      max-width: 400px;
    }

    #_1 {
      grid-row: 1;
      grid-column: 1;

      margin-left: auto;

      text-align: justify;
      text-align-last: right;
    }

    #_2 {
      grid-row: 2;
      grid-column: 3;

      text-align: justify;
    }

    #_3 {
      grid-row: 3;
      grid-column: 1;

      margin-left: auto;

      text-align: justify;
      text-align-last: right;
    }
  }

  .itp-c-benefits::before {
    content: "";
    position: absolute;

    width: 1px;
    height: 80%;

    background-color: $itp-color--dark;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
  }
}

@include for-size(tablet) {
  .itp-business_section--for_business {
    .itp-c-for_business__about {
      &__stats {
        h1 {
          font-size: $itp-font-size--display--m;
        }

        label {
          font-size: $itp-font-size--m;
        }
      }
    }

    .itp-c-benefits {
      font-size: $itp-font-size--s;
      padding: $itp-spacing--m;
    }
  }
}

@include for-size(phone) {
  .itp-business_section--for_business {
    .itp-c-for_business__about {
      &__stats {
        display: none;
      }
    }

    .itp-c-benefits {
      padding: $itp-spacing--s;
      #_1,
      #_2,
      #_3 {
        text-align: center;
        text-align-last: center;
      }
    }
  }
}
