@use "/styles/scss" as v;
@use "./styles/scss/modules/border";
@use "./styles/scss/modules/spacing";

.itp-main-header {
  @include spacing.itp-section_margin;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  color: v.$itp-color--dark;
  font-family: v.$itp-font-family--title;
  letter-spacing: 0.05em;

  &__logo {
    height: 3rem;
    width: auto;
  }

  &__navigation {
    display: flex;
    gap: 4rem;

    .itp-c-link--main {
      @include border.itp-border--accent;

      padding: 0.5rem 1.5rem;
      color: v.$itp-color--accent;
    }
  }
}
