@use "/styles/scss" as *;

.button {
  display: flex;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1rem;

  font-family: $itp-font-family--content--bold;
  text-transform: uppercase;

  border-radius: 2px;
  transition: all 0.2s ease;

  &:hover {
    background-color: darken($itp-color--light, 90%);
  }

  &:focus {
    outline: none;
    filter: brightness(85%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background-color: $itp-color--light;
  color: $itp-color--dark;

  &:hover {
    background-color: darken($itp-color--light, 10%);
  }
}

.secondary {
  background-color: $itp-color--light;
  color: $itp-color--accent;

  &:hover {
    background-color: $itp-color--accent;
    color: $itp-color--light;
  }
}

.orange {
  background-color: $itp-color--accent;
  color: $itp-color--light;

  &:hover {
    background-color: $itp-color--light;
    color: $itp-color--dark;
  }
}

.dark {
  background-color: $itp-color--dark;
  color: $itp-color--light;

  &:hover {
    background-color: $itp-color--light;
    color: $itp-color--dark;
  }
}

.link_button_container {
  display: flex;
  width: 100%;
}
