@use "/styles/scss" as v;

.itp-c-section--partners {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;

  .itp-c-partners__label {
    grid-column: 1/-1;
    font-family: v.$itp-font-family--title;
    font-size: v.$itp-font-size--xl;
    text-transform: uppercase;
  }
}
