.itp-l-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;

  background-image: url("/images/backgrounds/itp-image--offer_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .itp-c-card {
    max-width: 800px;
  }

  .itp-c-card:nth-child(even) {
    transform: translateX(-15%);
  }
  .itp-c-card:nth-child(odd) {
    transform: translateX(15%);
  }
}
