@use "/styles/scss" as *;

.itp-l-offer {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  gap: $itp-spacing-l;

  background-image: url("/images/backgrounds/itp-image--offer_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .itp-c-card {
    max-width: 800px;
  }

  .itp-c-card:nth-child(even) {
    grid-column: 1 / span 2;
  }
  .itp-c-card:nth-child(odd) {
    grid-column: 2 / span 2;
  }

  @include for-size(tablet-lg) {
    display: flex;
    flex-direction: column;
  }
}
