@use "./styles/scss/" as *;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.header {
  @include itp-text--title--l;
  @include itp-section_margin;
  margin-top: 0;
  margin-bottom: 1rem;
}