@use "/styles/scss" as v;
@use "./styles/scss/modules/spacing";

.itp-main-footer {
  @include spacing.itp-section_margin;
  display: flex;
  gap: 8rem;
  color: v.$itp-color--dark;

  padding: 2rem 0;

  .itp-c-footer__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
      font-family: v.$itp-font-family--title;
      font-size: v.$itp-font-size--xl;
      text-transform: uppercase;
    }

    &__body {
      font-family: v.$itp-font-family--content;
      flex: 1;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    &--nav {
      ul {
        margin-left: 1.5rem;
        list-style: circle;
      }
    }
    &--socials {
      ul {
        flex-direction: row;
        height: 100%;
      }
    }
  }
}
