@use "styles/scss" as *;

.itp-main_section--organization {
  @include itp-section_padding;

  background-color: $itp-color--dark;
  color: $itp-color--light;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $itp-spacing--l;

  .itp-c-organization {
    grid-column: 1;
    &_container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &_header {
      font-family: $itp-font-family--title;
      font-size: $itp-font-size--display--m;
      text-transform: uppercase;
    }

    &_about {
      @include itp-text--paragraph;
    }

    &_join_us {
      margin-top: auto;
    }
  }

  .itp-c-organization_photos {
    grid-column: 2;
    display: flex;
    height: 100%;
  }

  @include for-size(tablet-lg) {
    grid-template-columns: 1fr;

    .itp-c-organization_photos {
      display: none;
    }
  }
}
