@use "/styles/scss" as v;
@use "/styles/scss/modules/text";
@use "/styles/scss/modules/image";
@use "./styles/scss/modules/spacing";

.itp-main_section--organization {
  @include spacing.itp-section_padding;
  margin-top: 4rem;
  padding: 2rem 0;

  background-color: v.$itp-color--dark;
  color: v.$itp-color--light;

  display: flex;
  justify-content: center;

  .itp-c-organization {
    &_container {
      max-width: 800px;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &_header {
      font-family: v.$itp-font-family--title;
      font-size: v.$itp-font-size--display--m;
      text-transform: uppercase;
    }

    &_about {
      @include text.itp-text--content;
    }

    &_join_us {
      margin-top: auto;
    }

    &_photos {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-left: 4rem;

      @include image.itp-c-image;
    }
  }

  .itp-c-image_container {
    max-width: 400px;
    min-width: 300px;
    overflow: hidden;
    border-radius: v.$itp-border-radius--m;
  }
}
