@use "/styles/scss" as v;
@use "/styles/scss/modules/spacing";

.itp-business_section--our_team {
  @include spacing.itp-section_padding;
  padding: 2rem;

  background-color: v.$itp-color--light;
  color: v.$itp-color--dark;

  .itp-c-section_header {
    margin-bottom: 2rem;

    font-family: v.$itp-font-family--title;
    font-size: v.$itp-font-size--display--m;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .itp-c-team_container {
    display: flex;
    justify-content: space-around;
  }
}
