@use "styles/scss" as *;

.itp-business_section--our_team {
  @include itp-section_padding;

  background-color: $itp-color--light;
  color: $itp-color--dark;

  .itp-c-section_header {
    @include itp-text--section_header;
    margin-bottom: $itp-spacing--m;
  }

  .itp-c-team_container {
    display: flex;
    justify-content: space-between;
    gap: $itp-spacing--l;
  }
}

@include for-size(1200px) {
  .itp-business_section--our_team {
    .itp-c-team_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .itp-c-person_card {
      place-self: center;
    }
  }
}

@include for-size(phone) {
  .itp-business_section--our_team {
    .itp-c-team_container {
      grid-template-columns: 1fr;
    }
  }
}
