@use "/styles/scss" as v;
@use "/styles/scss/modules/border";

.itp-c-input--text {
  display: flex;
  flex-direction: column;

  font-family: v.$itp-font-family--content;
  color: v.$itp-color--light;

  &__label {
    margin-bottom: 0.1em;
  }
  &__input {
    background-color: transparent;
    box-shadow: none;

    padding-left: 0.75rem;

    font-family: v.$itp-font-family--content;
    color: v.$itp-color--light;
    font-size: v.$itp-font-size--l;

    min-height: 3rem;
    @include border.itp-border--light;
  }
}
