@use "styles/scss" as v;

.itp-c-notification {
  opacity: 0;
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 1rem 2rem 2rem 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  font-family: v.$itp-font-family--content;
  color: v.$itp-color--light;
  background-color: v.$itp-color--accent;

  &__title {
    font-size: v.$itp-font-size--l;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__message {
    font-size: v.$itp-font-size--m;
  }

  transition: opacity 1s ease-out;
}

.itp-c-notification--visible {
  opacity: 1;
}

.itp-c-notification::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  left: -1px;
  top: -1px;
  border-bottom: 1px solid v.$itp-color--light;
  border-right: 1px solid v.$itp-color--light;
  pointer-events: none;
}

.itp-c-notification::before {
  content: "";
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  left: -0.75rem;
  top: -0.75rem;
  border: 1px solid v.$itp-color--accent;
  pointer-events: none;
}
