@use "/styles/scss" as *;

.itp-main_section--partners {
  @include itp-section_margin;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  color: $itp-color--dark;

  .itp-c-partners__label {
    grid-column: span 3;
    font-family: $itp-font-family--title;
    font-size: $itp-font-size--xl;
    text-transform: uppercase;
  }

  .itp-c-partners__meet_our_partners {
    grid-column: -2 / -1;
    grid-row: 1 / 4;

    display: flex;
    justify-content: center;
  }
}

@include for-size(1200px) {
  .itp-main_section--partners {
    grid-template-columns: repeat(2, 1fr);

    .itp-c-partners__label {
      grid-column: span 2;
    }

    .itp-c-partners__meet_our_partners {
      display: none;
    }

    .itp-c-partner--main {
      grid-column: span 2;
    }
  }

  @include for-size(phone) {
    .itp-main_section--partners {
      grid-template-columns: 1fr;

      .itp-c-partners__label {
        grid-column: span 1;
      }

      .itp-c-partner--main {
        grid-column: span 1;
      }
    }
  }
}
