@use "/styles/scss" as v;
@use "./styles/scss/modules/spacing";

.itp-main_section--partners {
  @include spacing.itp-section_margin;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2rem;

  color: v.$itp-color--dark;

  .itp-c-partners__label {
    grid-column: 1/-2;
    font-family: v.$itp-font-family--title;
    font-size: v.$itp-font-size--xl;
    text-transform: uppercase;
  }
}
