@use "styles/scss" as *;

.container {
  @include itp-border--dark;
  @include itp-text--content;

  display: flex;
  justify-content: space-between;

  padding: $itp-spacing--s;

  transition: all 0.2s ease-in-out;
}

.container:hover {
  background-color: $itp-color--accent;
  color: $itp-color--light;
}
