@use "styles/scss" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: $itp-spacing--xs;
}

.typeLabel {
  font-family: $itp-font-family--content;
  font-size: $itp-font-size--s;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  padding: $itp-spacing--m;
  @include itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
}
