@use "/styles/scss" as *;

.itp-c-partner-container {
  padding: $itp-spacing--m;
  @include itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;

  .itp-c-partner__logo {
    height: 3rem;
    width: auto;
  }
}

.itp-c-partner--main {
  grid-column-start: 1;
  grid-column-end: -2;
}
