@use "/styles/scss" as v;
@use "./styles/scss/modules/border";

.itp-c-partner-container {
  padding: 2rem;
  @include border.itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.itp-c-partner--main {
  grid-column-start: 1;
  grid-column-end: -2;
}
