@use "styles/scss" as *;

.itp-main_section--survey {
  @include itp-section_margin;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 4rem;

  color: $itp-color--dark;

  .itp-c-survey {
    &__header {
      font-family: $itp-font-family--title;
      font-size: $itp-font-size--display--s;
      text-transform: uppercase;

      &__subtitle {
        font-size: $itp-font-size--xl;
      }
    }
  }

  .itp-c-survey_results {
    grid-column: 1/1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .itp-c-survey_about {
    grid-column: 2/2;
    grid-row: 1/3;
  }

  @include for-size(tablet) {
    grid-template-columns: 1fr;

    .itp-c-survey_results {
      grid-column: 1/1;
    }

    .itp-c-survey_about {
      grid-column: 1/1;
      grid-row: 2;
    }
  }
}
