@use "styles/scss" as *;

.container {
  @include itp-border--dark;
  @include itp-text--content--bold;
  padding: $itp-spacing--xs;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: $itp-color--dark;
  color: $itp-color--light;
}

.light {
  background-color: $itp-color--light;
  color: $itp-color--dark;
}
