@use "styles/scss" as *;

.section {
  @include itp-section_padding;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  background-color: $itp-color--light;
  color: $itp-color--dark;
}

.label {
  grid-column: span 3;
  font-family: $itp-font-family--title;
  font-size: $itp-font-size--xl;
  text-transform: uppercase;
}

.image {
  grid-column: -2 / -1;
  grid-row: 1 / 4;
  align-items: center;

  display: flex;
  justify-content: center;

  img {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }
}

.main {
  grid-row: 2;
  grid-column: span 3;
}

@include for-size(1200px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }

  .label {
    grid-column: span 2;
  }

  .image {
    display: none;
  }
}

@include for-size(phone) {
  .section {
    grid-template-columns: 1fr;
  }

  .label {
    font-size: $itp-font-size--l;
    grid-column: span 1;
  }

  .main {
    grid-column: span 1;
  }
}
