// Border definitions

$itp-border-radius--s: 2px;
$itp-border-radius--m: 10px;
$itp-border-radius--l: 15px;
$itp-border-radius--xl: 25px;

$itp-border-size--s: 1px;
$itp-border-size--m: 2px;
$itp-border-size--l: 4px;
