// Colors definition

$itp-color--black: #000000;
$itp-color--charcoal: #1e1e1e;
$itp-color--white: #ffffff;
$itp-color--tiger: #f55718;

// Allocation

$itp-color--light: $itp-color--white;
$itp-color--dark: $itp-color--charcoal;
$itp-color--accent: $itp-color--tiger;
