// Fonts definitions

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Major_Mono_Display-Regular";
  src: url(/fonts/Major_Mono_Display/Major_Mono_Display-Regular.ttf);
}

@font-face {
  font-family: "Roboto_Mono-Regular";
  src: url(/fonts/Roboto_Mono/Roboto_Mono-Regular.ttf);
}

@font-face {
  font-family: "Roboto_Mono-Bold";
  src: url(/fonts/Roboto_Mono/Roboto_Mono-Bold.ttf);
}

// Allocation

$itp-font-family--display: "Major_Mono_Display-Regular";
$itp-font-family--title: "Montserrat-Medium";
$itp-font-family--title--bold: "Montserrat-Bold";
$itp-font-family--title--thin: "Montserrat-Regular";
$itp-font-family--content: "Roboto_Mono-Regular";
$itp-font-family--content--bold: "Roboto_Mono-Bold";

$itp-font-size--display--l: 96px;
$itp-font-size--display--m: 48px;
$itp-font-size--display--s: 32px;

$itp-font-size--s: 12px;
$itp-font-size--m: 16px;
$itp-font-size--l: 20px;
$itp-font-size--xl: 28px;
