@use "styles/scss" as *;

.itp-business_section--contact_form {
  @include itp-section_margin;
  margin: 2rem 0;
  display: flex;

  justify-content: center;

  gap: $itp-spacing--l;

  .itp-c-contact_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;

    .itp-c-form__submit_button {
      margin-top: 1rem;

      .itp-c-form__submit_button-content {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .itp-c-memorials_container {
    max-width: 600px;
  }
}

@include for-size(tablet-lg) {
  .itp-business_section--contact_form {
    flex-direction: column;
    .itp-c-memorials_container {
      display: none;
    }
  }
}
