@use "styles/scss" as *;

.itp-business-header {
  @include itp-section_padding;

  left: 0;
  right: 0;

  z-index: 2;

  position: absolute;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: $itp-color--light;
  font-family: $itp-font-family--title;
  letter-spacing: 0.05em;

  gap: $itp-spacing--l;

  &__logo {
    height: 3rem;
  }

  &__navigation__container {
    position: relative;
    display: flex;
  }

  &__navigation {
    display: flex;
    gap: $itp-spacing--l;

    .itp-c-link {
      display: flex;
      align-items: center;

      a {
        transition: color 0.2s ease, opacity 0.2s ease;
        text-decoration: none;

        &:hover {
          color: $itp-color--accent;
        }
      }
    }

    .itp-c-link--main {
      text-decoration: underline;
      color: $itp-color--accent;

      a {
        transition: background-color 0.2s ease, color 0.2s ease;
        padding: 0.25rem 0.5rem;
        margin: -0.25rem -0.5rem;
        border-radius: 0.25rem;

        &:hover {
          background-color: $itp-color--accent;
          color: $itp-color--light;
        }
      }
    }
  }

  &__navigation__mobile_dropdown {
    display: none;
  }
}

@include for-size(tablet-lg) {
  .itp-business-header {
    flex-direction: row-reverse;
    justify-content: space-between;

    &__navigation__mobile_dropdown {
      display: block !important;
    }

    &__navigation__container {
      position: relative;
    }

    &__navigation {
      position: absolute;
      top: 3rem;
      right: 1rem;
      z-index: 3;

      padding: 1rem 1rem 1rem 2rem;
      flex-direction: column-reverse;
      gap: $itp-spacing--s;

      background-color: $itp-color--light;
      color: $itp-color--dark;
      list-style: square;

      .itp-c-link {
        display: list-item !important;
      }

      .itp-c-link--main {
        border: none;
        padding: 0 0;
      }
    }
    .itp-business-header__navigation.collapsed {
      display: none;
    }
  }
}

@include for-size(tablet-lg) {
  .itp-business-header {
    &__logo {
      height: 2rem;
      width: fit-content;
    }
  }
}
