@use "../base/borders.scss" as *;
@use "../base/colors.scss" as *;

@mixin itp-border--accent {
  border: $itp-border-size--s solid $itp-color--accent;
  border-radius: $itp-border-radius--s;
}

@mixin itp-border--dark {
  border: $itp-border-size--s solid $itp-color--dark;
  border-radius: $itp-border-radius--s;
}

@mixin itp-border--light {
  border: $itp-border-size--s solid $itp-color--light;
  border-radius: $itp-border-radius--s;
}
