@use "../" as v;

@mixin itp-border--accent {
  border: v.$itp-border-size--s solid v.$itp-color--accent;
  border-radius: v.$itp-border-radius--s;
}

@mixin itp-border--dark {
  border: v.$itp-border-size--s solid v.$itp-color--dark;
  border-radius: v.$itp-border-radius--s;
}

@mixin itp-border--light {
  border: v.$itp-border-size--s solid v.$itp-color--light;
  border-radius: v.$itp-border-radius--s;
}
