@mixin itp-c-image {
  .itp-c-image_container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;

    .itp-c-image {
      height: auto;
      width: 100%;
    }
  }
}
