@use "../base/typography.scss" as *;
@use "./for-size.scss" as *;

@mixin itp-text--content {
  font-family: $itp-font-family--content;
  font-size: $itp-font-size--m;
}

@mixin itp-text--content--bold {
  font-family: $itp-font-family--content--bold;
  font-size: $itp-font-size--m;
}

@mixin itp-text--title--l {
  font-family: $itp-font-family--title;
  font-size: $itp-font-size--display--m;
  text-transform: uppercase;

  @include for-size(desktop-lg) {
    font-size: $itp-font-size--display--s;
  }

  @include for-size(tablet-lg) {
    font-size: $itp-font-size--xl;
  }
}

@mixin itp-text--title--m {
  font-family: $itp-font-family--title;
  font-size: $itp-font-size--xl;
  text-transform: uppercase;

  @include for-size(tablet-lg) {
    font-size: $itp-font-size--m;
  }
}

@mixin itp-text--title--s {
  font-family: $itp-font-family--title;
  font-size: $itp-font-size--l;
  text-transform: uppercase;

  @include for-size(tablet-lg) {
    font-size: $itp-font-size--m;
  }
}

@mixin itp-text--paragraph {
  @include itp-text--content;

  ul {
    margin-top: 1em;
    margin-left: 2em;
    list-style: circle;
  }

  p {
    margin-top: 1em;
    text-align: justify;
  }

  p:first-child {
    text-indent: 2em;
  }

  a {
    text-decoration: underline;
  }
}

@mixin itp-text--section_header {
  font-family: $itp-font-family--title;
  font-size: $itp-font-size--display--m;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include for-size(tablet-lg) {
    font-size: $itp-font-size--display--s;
    letter-spacing: 0.05em;
  }
}
