@use "/styles/scss" as *;

.itp-c-countdown-container {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;

  .itp-c-countdown {
    display: block;
    margin: $itp-spacing--m;
    padding: 0.5rem;
    background-color: $itp-color--light;
    border-radius: $itp-border-radius--m;

    font-family: $itp-font-family--display;
    font-size: 2vh;
    color: $itp-color--accent;
    text-align: center;
  }

  @include for-size(phone) {
    .itp-c-countdown {
      margin: $itp-spacing--xs;
    }
  }
}
