* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

button {
  border: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  padding: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 4px white solid;
  background: #d9d9d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-left: 4px white solid;
  background: #f55718;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
