@use "styles/scss" as *;

.container {
  @include itp-section-padding;
  padding-top: 0;

  display: grid;
  gap: $itp-spacing--s;
  grid-template-columns: repeat(auto-fill, minmax(max(400px, 600px), 1fr));
  grid-auto-rows: 1fr;

  @include for-size(phone) {
    grid-template-columns: 100%;
  }
}
