@use "./styles/scss" as *;

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  background-color: $itp-color--black;
  opacity: 0.6;

  @include for-size(1200px, up) {
    display: none;
  }
}
