@use "/styles/scss" as *;

.itp-c-score_container {
  width: 100%;
}

.itp-c-score {
  @include itp-border--dark;

  width: 100%;
  height: 1.5rem;
  overflow: hidden;

  &__fill {
    background-color: $itp-color--dark;
    transition: width 0.3s ease;
    height: 100%;
  }

  &__label {
    font-family: $itp-font-family--content;
    font-size: $itp-font-size--l;
    float: right;
  }

  &__value {
    font-family: $itp-font-family--content;
    font-size: $itp-font-size--m;
    float: left;
  }

  @include for-size(tablet) {
    grid-template-columns: 1fr;

    &__label {
      font-size: $itp-font-size--m;
    }
    &__value {
      font-size: $itp-font-size--s;
    }
  }
}
