@use "styles/scss" as *;

.container {
  padding: $itp-spacing--m;
  @include itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
  width: auto;
}
