@use "styles/scss" as *;

.container {
  padding: $itp-spacing--m;
  @include itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
  position: relative;
  width: 12rem;
  height: 6rem;
}

.logo {
  object-fit: contain;
}
