@use "/styles/scss" as *;

.itp-c-partner-container {
  padding: $itp-spacing--m;
  @include itp-border--dark;

  display: flex;
  justify-content: center;
  align-items: center;

  .itp-c-partner__logo {
    height: 4rem;
    width: auto;
  }
}
