@use "styles/scss" as v;

.itp-c-essentials {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 500px));
  grid-template-rows: repeat(2, auto);
  gap: 2rem;

  .itp-c-time_and_date {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .itp-c-essential_info {
      display: flex;
      align-items: center;
      gap: 1em;

      &__icon {
        width: 1.5em;
        height: 1.5em;
      }

      &__label {
        font-family: v.$itp-font-family--content--bold;
        color: v.$itp-color--black;
      }
    }
  }

  .itp-c-description {
    grid-row: 2;
    grid-column: 1;

    font-family: v.$itp-font-family--content;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
  }

  .itp-c-catalouge_ref {
    grid-row: 1/3;
    grid-column: 2;

    display: block;

    border-radius: v.$itp-border-radius--m;

    background-image: url("/images/itp-image--glass_cog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;

    &__link {
      float: right;

      display: flex;
      align-items: center;

      line-height: 1em;
      text-transform: uppercase;

      padding: 0.5em 1em;
      margin: 0.5rem;
      border-radius: v.$itp-border-radius--s;

      background-color: v.$itp-color--light;
      font-family: v.$itp-font-family--content--bold;
      color: v.$itp-color--accent;

      transform-origin: top right;
      transform: rotate(90deg) translateX(100%);
    }
  }
}

@media screen and (max-width: 700px) {
  .itp-c-essentials {
    display: flex;
    flex-direction: column;

    .itp-c-catalouge_ref {
      aspect-ratio: 1/1;
    }
  }
}
